.cat-cover {
    /* border-top: 1px solid gray; */
    /* max-width: 70vw; */
}

.cat-table {
    border-top: 1px solid gray;

}

.cat-table thead {
        border-bottom: 1px solid gray;
        /* background: #000; */
        /* display: flex; */
        justify-content: space-between;
        

}