.hero-container {
  /* background-image: linear-gradient(rgb(78, 78, 76), hsla(49, 42%, 46%, 0.5)),
    url("../../../assets/components/HeroImage.jpg"); */
  height: 70vh;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-x: 67%;
  background-position-y: 5%; */
  /* background: var(--secondary-bg); */
}

.heroText {
  color: var(--secondary-text-color);
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 6rem;
  line-height: 1.2;
}

.heroText > h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--secondary-bg);
}

.heroText > p {
  font-size: 1.2rem;
  width: 70%;
  margin: 0 auto;
  color: var(--secondary-bg);
}

.hero-container .hero-search {
  padding: 1rem;
  z-index: 99;
  margin-bottom: 1rem;
}

.hero-container .hero-search input {
  padding: 1rem;
  width: 50%;
  outline: none;
  border: none;
  background: rgb(243, 234, 234);
}

.hero-container .hero-search input::placeholder {
  font-size: 1rem;
}

.hero-container .hero-search span {
  padding: 0.76rem;
  font-size: 1rem;
  background: var(--primary-color);
  color: var(--secondary-bg);
}

/* 
.heroText button {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  border: 1px solid var(--text-color);
  font-weight: 900;
}

.heroText button:hover {
  background: var(--text-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
} */

/* MEDIA QUERY */
@media (max-width: 1255px) {
  .hero-container {
    height: 60vh;
  }

  .heroText {
    width: 50%;
  }

  .hero-container .hero-search input {
    padding: 1rem;
  }

  .hero-container .hero-search span {
    padding: 0.85rem;
    font-size: 0.85rem;
  }
}

@media (max-width: 1085px) {
  .hero-container {
    height: 50vh;
  }

  .heroText {
    width: 65%;
  }

  .heroText > h2 {
    font-size: 3rem;
  }

  .heroText > p {
    font-size: 0.9rem;
    width: 65%;
  }

  .hero-container .hero-search input {
    width: 40%;
    padding: 0.9rem;
  }

  .hero-container .hero-search input::placeholder {
    font-size: 0.8rem;
  }

  .hero-container .hero-search span {
    padding: 0.75rem;
    font-size: 0.85rem;
  }
}

@media (max-width: 835px) {
  .hero-container {
    height: 40vh;
  }

  .heroText {
    width: 70%;
    margin-top: 4rem;
  }

  .heroText > h2 {
    font-size: 2.5rem;
  }

  .heroText > p {
    font-size: 0.9rem;
    width: 60%;
  }

  .hero-container .hero-search input {
    width: 40%;
    padding: 0.8rem;
  }

  .hero-container .hero-search span {
    padding: 0.7rem;
    font-size: 0.85rem;
  }
}

@media (max-width: 645px) {
  .hero-container {
    height: 35vh;
  }

  .heroText {
    width: 70%;
    margin-top: 3rem;
  }

  .heroText > h2 {
    font-size: 2.2rem;
  }

  .heroText > p {
    font-size: 0.8rem;
    width: 70%;
  }
}

@media (max-width: 560px) {
  .hero-container {
    height: 32vh;
  }

  .heroText {
    width: 80%;
    margin-top: 3rem;
  }

  .heroText > h2 {
    font-size: 1.8rem;
  }

  .heroText > p {
    font-size: 0.7rem;
    width: 70%;
  }

  .hero-container .hero-search input {
    width: 40%;
    padding: 0.7rem;
  }

  .hero-container .hero-search input::placeholder {
    font-size: 0.7rem;
  }

  .hero-container .hero-search span {
    padding: 0.55rem;
    font-size: 0.85rem;
  }
}
