.latest-product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    border-bottom: 0.5px solid black;
    max-width: 70vw;
    margin: 0 auto;
}

.latest-product-header p {
    font-size: 2rem;
    font-weight: 300;
}

.latest-product-header a {
    background: rgb(41, 41, 34);
    padding: 0.5rem;
    color: white;
}

@media (max-width: 650px) {
    .latest-product-header {
        padding: 0rem 1.5rem;
        margin-top: 1rem;
        margin-bottom: -1.5rem;
    }

    .latest-product-header p {
        font-size: 1.2rem;
    }

    .latest-product-header a {
        padding: 0.2rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    .latest-product-header {
        padding: 0rem 1.5rem;
        margin-top: 1rem;
        margin-bottom: -1.5rem;
    }

    .latest-product-header p {
        font-size: 0.9rem;
    }

    .latest-product-header a {
        padding: 0.1rem;
        font-size: 0.7rem;
    }
}