nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  /* background: black; */
}

nav > :nth-child(2) a {
  color: var(--text-color);
  font-weight: 700;
}

nav .username {
  align-items: center;
  color: gold;
}

nav .username i {
    font-size: 0.7rem;
  background: white;
  padding: 0.2rem 0.3rem;
  border-radius: 50%;
}

nav .login {
  background: inherit;
  border: none;
  font-weight: 700;
  color: var(--text-color);
}

nav .signup {
  font-weight: 700;
  border: none;
  background: inherit;
  color: var(--text-color);
}

nav .cart {
  border: none;
  background: inherit;
  color: var(--text-color);
  font-weight: 700;
}

nav .order {
  border: none;
  background: inherit;
  color: var(--text-color);
  font-weight: 700;
}

nav .cart svg {
  width: 1rem;
  height: 1.5rem;
}
