.product-form {
    margin-bottom: 2rem;
    padding: 1rem;
}

.product-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 0 auto;
    padding: 1rem;    
}

/* Product Preview */
.slide-container {
  /* max-width: 1000px; */
  width: 26vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

aside {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid black;
  transition: all 0.3s;
}

aside::-webkit-scrollbar {
  height: 10px;
  width: 2px;
  border: 1px solid #d5d5d5;
  background: #d5d5d5;
}

aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Removed the vendor prefix --webkit since it's unnecessary in the property value */
}

aside::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  outline: 1px solid #eee;
}

aside .thumbnail {
  flex: 0 0 auto;
  object-fit: cover;
  margin: 5px;
  border: 1px solid #333;
  overflow: hidden;
  transform: scale(0.95);
  transition: all 0.3s;
}

aside .thumbnail:hover {
  transform: scale(1);
}

aside .thumbnailIcon {
  cursor: pointer;
  color: red;
}


.product-form form input {
    width: 25vw;
    padding: 0.5rem;
    padding: 0.5rem;
    outline: none;
    margin: 0.5rem auto;
    
}

.product-form form label {
}

.product-form form select {
    width: 26vw;
    padding: 0.5rem;
    outline: none;
    margin: 0.5rem auto;
}

.product-form form .btn {
    padding: 0.5rem 1rem;
    margin-top: 6rem;
    background: var(--primary-color);
    color: black;
    border: 1px solid var(--primary-color);
    font-weight: bold;
}
