.sidebar-cover {
    padding: 1rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.sidebar-cover .user {
    padding: 0.5rem 1rem;
    color: white;
     display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-cover .user p {
    margin-top: 0.2rem;
}

.sidebar-cover .sidebar-content {
     display: flex;
    flex-direction: column;
    align-items: first baseline;
    margin-left: -3rem;
    /* text-align: start; */
}

.sidebar-cover .sidebar-content li {
    padding-right: 5rem;
    border-bottom: 1px solid gold;
    width: 5vw;
    margin-bottom: 0.5rem;

}

.sidebar-cover .sidebar-content li a {
    color: white;
}

.sidebar-cover .sidebar-content li:active {
    border-right: 2.5px solid gold;    
    background: gold;
    color: black;
}
