.brand-cover {
    width: 70vw;
    margin: 0 auto;
}

.brand-cover h1 {
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
}

.brand-table table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.brand-table th, .brand-table td {
      text-align: left;
      padding: 2px;
}

 .brand-table tr:nth-child(even) {
    background: #ccc;
    border-bottom: 1px solid #333;

 }

.brand-table button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px;
}