.create-brand {
    /* display: flex;
    flex-direction: column; */
}
.create-brand form label {
    font-weight: 500;
}

.create-brand form input {
    width: 30vw;
    padding: 0.5rem;
    outline: none;
    margin: 0.5rem auto;
}

.create-brand form select {
    width: 31.5vw;
    padding: 0.5rem;
    outline: none;
    margin: 0.5rem auto;
}

.create-brand form .btn {
    padding: 0.3rem 1rem;
    background: var(--primary-color);
    color: black;
    border: 1px solid var(--primary-color);
    font-weight: bold;
}