.product-list {
    /* padding: 1rem; */
}

.product-list .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 70vw; */
    margin: 0 auto;
    border-bottom: 2px solid gray;
}

.product-list .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 0.3rem;
} 

.product-list .sort select {
    border: none;
    outline: none;
    cursor: pointer;
}

.product-list .grid-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0.5rem;
    gap: 1rem;
}

.product-list .list-products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}