.checkout-form-container {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    width: 70vw;
    margin: 0 auto;
}

.checkout-form-summary {
    margin-top: 1rem;
}

.checkout-form-summary h3 {
    font-weight: 500;
}

.stripe-checkout-form form {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.stripe-checkout-form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 1rem;
    border-radius: 5px;
    height: fit-content;
}

.stripe-checkout-form .error {
    color: red;
}

.stripe-checkout-form h3 {
    font-weight: 500;
}

.stripe-checkout-form button {
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  border: none;
  background: #0066d4;
  color: white;
  border-radius: 3px;
    width: 100%;
}