.carousal-container {
  max-height: 23rem;
  padding: 2rem 0rem;
}

.carousal-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20rem;
  height: 35rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0rem;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 1.5rem;
  margin-top: 2rem;
}

.carousal-item a img {
  width: 70%;
  height: 40%;
  object-fit: cover;
  margin: 0 auto;
}

.carousal-item .price {
  margin: 0rem auto;
  color: red;
  font-weight: 500;
}

.carousal-item .name {
  margin: 0rem;
  color: black;
}

.carousal-item .description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 0;
  color: black;
}

.carousal-item .btn {
  padding: 0.5rem 1rem;
  width: 80%;
  margin: 0rem 1rem;
  background: var(--primary-color);
  border: none;
  margin: 0rem 1rem;
  border: 1px solid gray;
  border-radius: 5px;
}


