.login {
  margin-bottom: 2rem;
}

.login .nav {
  background: var(--secondary-bg);
  margin-bottom: 2rem;
}

.login .form-cover {
  background: var(--primary-color);
  width: 50vw;
  height: fit-content;
  margin: 0 auto;
  padding: 3rem;
  margin-top: 3rem;
  border-radius: 10px;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login form input {
  padding: 1rem;
}

.login .btn {
  padding: 0.8rem;
  font-weight: bold;
  background: blue;
  border: none;
  color: white;
  cursor: pointer;
}

.login .g-btn {
  padding: 0.8rem;
  font-weight: bold;
  background: blue;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
}

.login .g-btn i {
  color: red;
}

.form-cover a {
  color: red;
}
